.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.navbar-button {
  background-color: rgba(255, 115, 115, 1);
  color: white;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1rem;
}

.navbar-button:hover {
  background-color: #d33e3e;
}

.sign-in-button {
  background-color: rgba(115, 171, 255, 1); /* Restore blue color */
}

.sign-in-button:hover {
  background-color: rgba(84, 145, 255, 1); /* Darker blue on hover */
}

.bookmark-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark-icon,
.dropdown-bookmark-icon {
  width: 15px;
  height: 18.5px;
  margin-right: 8px;
}

.user-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  border-radius: 20px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 115, 115, 1);
  margin-right: 10px; 
}

.navbar-username {
  font-size: 1rem;
  color: black;
}

.hamburger-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
  display: block;
}

.hamburger-menu {
  display: block;
}

/* Dropdown for desktop version */
.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  width: 200px;
  text-align: center;
  gap: 10px;
}

.mobile-user-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.dropdown-content p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-button {
  background-color: rgba(255, 115, 115, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.logout-button {
  background-color: rgba(255, 115, 115, 1);
}

.logout-button:hover {
  background-color: #d32f2f;
}

.cross-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar-buttons {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  /* Dropdown content changes for mobile */
  .dropdown-content {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%; 
    height: 50vh;
    background-color: white;
    box-shadow: none; /* Remove shadow for full-screen look */
    justify-content: flex-start;
    padding-top: 20px;
    text-align: center;
    z-index: 1000;
  }

  .dropdown-button {
    width: 29%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }

  .cross-icon {
    display: block;
  }

  .navbar-username {
    display: none; /* Hide the username in the navbar for mobile */
  }

  .mobile-user-icon {
    display: inline-block; /* Show the user icon in the mobile dropdown */
  }

  .dropdown-content p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
