.registration-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-popup-content {
  position: relative;
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  width: 350px;
  max-width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.registration-close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  cursor: pointer;
}

.registration-popup-content h2 {
  text-align: center;
  margin-bottom: 30px;
}

.registration-error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.registration-label-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.registration-label-field-container label {
  font-size: 14px;
  margin-bottom: 5px;
}

.registration-label-field-container input {
  width: fit-content;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-password-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.registration-password-container input {
  width: 100%;
  /* padding-right: 40px; */
}

.registration-eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}

.registration-button {
  width: 100%;
  padding: 12px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.registration-button:hover {
  background-color: #1976d2;
}

.registration-gap {
  margin: 20px 0;
}
